/* You can add global styles to this file, and also import other style files */
body {
    background-color: #7BFF0F;
}
app-root{
    display: flex;
    justify-content: center;
}
.nuotraukos{
    height: 150px;
}